core-toolbar {
  color: #fff;
  background-color: #174c85;
}
[drawer] {
  background-color: #fafafa;
  box-shadow: 1px 0 1px rgba(0,0,0,0.2);
}
.bar rect {
  shape-rendering: crispEdges;
}
.bar rect.background {
  stroke: #fff;
  fill: #eee;
}
.bar text {
  font-size: 12px;
  fill: #333;
}
.axis path,
.axis line {
  fill: none;
  stroke: #444;
  stroke-width: 0.8;
}
.brush .extent {
  fill-opacity: 0.125;
}
.timeline {
  font-family: 'Roboto Condensed', sans-serif;
}
.card {
  margin: auto;
  margin-top: 5px;
  margin-left: 5px;
  padding: 0px;
  border-radius: 2px;
  border: 1px solid #d8d8d8;
  text-align: left;
  position: relative;
}
.card-header {
  border-bottom: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 12pt;
}
.card-header core-icon {
  margin-left: 5px;
  color: rgba(0,0,0,0.77);
  width: 16px;
  height: 16px;
}
.card-header-count {
  width: 80px;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}
.card-body {
  padding: 4px;
}
.card-progress {
  padding: 30px;
  margin-top: 30px;
}
.card-billing {
  padding: 30px;
  margin-top: 30px;
}
.status1 {
  fill: #165916;
  background-color: #165916;
}
.status2 {
  fill: #1c721c;
  background-color: #1c721c;
}
.status3 {
  fill: #238c23;
  background-color: #238c23;
}
.status4 {
  fill: #29a529;
  background-color: #29a529;
}
.status5 {
  fill: #2fbf2f;
  background-color: #2fbf2f;
}
.status6 {
  fill: #ffe699;
  background-color: #ffe699;
}
.status7 {
  fill: #ffd966;
  background-color: #ffd966;
}
.status8 {
  fill: #bf9000;
  background-color: #bf9000;
}
.status9 {
  fill: #fc1919;
  background-color: #fc1919;
}
.status10 {
  fill: #d90202;
  background-color: #d90202;
}
.status11 {
  fill: #b80202;
  background-color: #b80202;
}
.status12 {
  fill: #8f0000;
  background-color: #8f0000;
}
.status13 {
  fill: #610101;
  background-color: #610101;
}
.running {
  -moz-animation-duration: 1000ms;
  -moz-animation-name: blink;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-duration: 1000ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@-moz-keyframes blink {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0.4;
  }
}
@-webkit-keyframes blink {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0.4;
  }
}
@-moz-keyframes blink {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0.4;
  }
}
@-webkit-keyframes blink {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0.4;
  }
}
@-o-keyframes blink {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0.4;
  }
}
@keyframes blink {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0.4;
  }
}
.d3-tip {
  line-height: 1;
  font-size: 12px;
  padding: 8px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  border-radius: 2px;
}
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(0,0,0,0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
#login-dropdown-list {
  position: absolute;
  top: 10px;
  left: -180px;
}
.d3-context-menu {
  position: absolute;
  display: none;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  min-width: 150px;
  border: 1px solid #d4d4d4;
  z-index: 1200;
}
.d3-context-menu ul {
  list-style-type: none;
  margin: 4px 0px;
  padding: 0px;
  cursor: default;
}
.d3-context-menu ul li {
  padding: 4px;
}
.d3-context-menu ul li:hover {
  background-color: #4677f8;
  color: #fefefe;
}
.d3-context-menu core-icon {
  margin: 2px;
  color: rgba(0,0,0,0.77);
  width: 18px;
  height: 18px;
}
.model-inst-status-box {
  width: 20px;
  height: 14px;
  border: 1px solid #ddd;
  margin-right: 5px;
}
.model-def-status-box {
  width: 30px;
  height: 20px;
  border: 1px solid #ddd;
  margin: 5px;
}
.model-instance {
  font-size: 10pt;
  margin: 2px;
}
.model-instance-header {
  border-bottom: 1px solid #ddd;
  padding: 3px;
}
.model-instance-body {
  padding: 3px;
}
.sub-model-header {
  font-size: 10pt;
  margin-bottom: 15px;
}
.sub-model-header .title {
  font-size: 12pt;
  font-weight: bold;
}
#ftbarchart text {
  font-size: 10px;
}
.epc-lg {
  width: 280px;
}
.epc-md {
  width: 240px;
}
.epc-sm {
  width: 180px;
}
.counter > paper-material {
  padding: 3px 15px !important;
  margin: 0px;
}
.process-count {
  width: 8px;
  height: 22px;
  margin-right: 8px;
}
.process-count span {
  font-weight: bold;
}
html body {
  height: 100%;
  margin: 0;
  color: rgba(0,0,0,0.87);
  background: #fff;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.content {
  padding: 20px;
}
[main] {
  background-color: #fff;
}
#chart {
  width: 100%;
}
paper-shadow {
  width: 100%;
  padding: 20px;
}
.version {
  font-size: 12px;
}
.processmap {
  margin: 20px;
}

@media (max-width: 400px) {
  text {
    font-size:2vw;
  }
}
  
@media (max-width: 600px) {
  text {
    font-size:2.5vw;
  } 
}


.brush .resize path {
  fill: #eee;
  stroke: #666;
}

/*# sourceMappingURL=main.css.map */
